.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    background-color: rgb(174, 130, 216);
    
}


.container{
    display: flex;
    height: 30px;
    width: 350px;
    flex-wrap: wrap;
    padding-top: 30px;
}

.weekday{
    width: 175px;
}

.ok-container{
    display: flex;
    position: relative;
}

header {
    background-color: black;
}

body {
    background-color: rgb(111, 20, 197);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 450px;
}

#prosseguir {
    height: 40px;
    margin-top: 8px;
    font-family: monospace;
    margin-left: 2px;
}

#imprimir {
    font-family: monospace;
    margin-left: 640px;
    text-align: center;
    align-items: center;
}